/* style.css */
body {
  background-color: #f0f8ff;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 100px;
  text-shadow: #333;
  font-size: medium;
}

h1 {
  color: #333;
  font-size: 48px;
  text-shadow: 2px 2px 4px #aaa;
}